:root {

    --center--search--major-sort-menu: 30;
    --center--search--major-filter-menu: 31;

    --center--search--university-sort-menu: 30;
    --center--search--university-filter-menu: 31;

    --common-navigation--main: 20;

    --common-selector-region--main: 40;
    --common-viewer-photo--main: 41;

    --common-header--main: 10;
    --common-header--inner-center: 10;
    --common-header--inner-left: 11;
    --common-header--inner_right: 11;
}
