:root{font-size: 18px;font-family: 'Jua', sans-serif !important;}
input::-webkit-input-placeholder {font-family: 'Jua', sans-serif;}
*{box-sizing: border-box;margin: 0; padding: 0;}
html, body{height: 100%;}

.icon {width: 1em; height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}
.common-font {font-family: 'Jua', sans-serif !important;}



